@font-face {
  font-family: 'Open Sans Condensed';
  font-style: normal;
  font-weight: 300;
  src: url("../fonts/open-sans-condensed-v12-latin-300.eot");
  src: local("Open Sans Condensed Light"), local("OpenSansCondensed-Light"), url("../fonts/open-sans-condensed-v12-latin-300.eot?#iefix") format("embedded-opentype"), url("../fonts/open-sans-condensed-v12-latin-300.woff2") format("woff2"), url("../fonts/open-sans-condensed-v12-latin-300.woff") format("woff"), url("../fonts/open-sans-condensed-v12-latin-300.ttf") format("truetype"), url("../fonts/open-sans-condensed-v12-latin-300.svg#OpenSans Condensed") format("svg");
}

* {
  font-family: 'Open Sans Condensed', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.fa-bars {
  position: absolute;
  top: 15px;
  left: 20px;
  font-size: 2rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 101;
}

.fa-bars:hover {
  cursor: pointer;
  color: gold;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.fa-bars:active {
  top: 12px;
  left: 22px;
}

.fa-info-circle {
  position: absolute;
  top: 15px;
  right: 20px;
  font-size: 2rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
  z-index: 101;
}

.fa-info-circle:hover {
  cursor: pointer;
  color: gold;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.fa-info-circle:active {
  top: 12px;
  right: 18px;
}

.fa-volume-up,
.fa-volume-mute {
  position: absolute;
  top: 15px;
  right: 100px;
  font-size: 2rem;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.fa-volume-up:hover,
.fa-volume-mute:hover {
  cursor: pointer;
}

.fa-volume-up:active,
.fa-volume-mute:active {
  color: gold;
  -webkit-transition: 0.6s;
  transition: 0.6s;
}

.pressed {
  color: gold;
}

.pressed-info {
  color: gold;
}

.sidebar {
  position: absolute;
  height: 100vh;
  padding: 30px;
  color: white;
  background-color: rgba(51, 51, 51, 0.95);
  z-index: 100;
}

@media only screen and (max-width: 922px) {
  .sidebar {
    min-height: 100%;
    height: auto;
    width: 100vw;
  }
}

.sidebar h2 {
  text-align: right;
  font-size: 1.7rem;
}

@media only screen and (max-width: 576px) {
  .sidebar h2 {
    font-size: 1.5rem;
  }
}

.sidebar h2 .fa-recycle {
  font-size: 1.2rem;
  cursor: pointer;
  color: gold;
  margin: 0 10px;
}

.sidebar h3 {
  text-align: right;
  font-size: 1.2rem;
  white-space: nowrap;
}

.sidebar h3 span {
  margin: 0 10px;
  color: gold;
}

.sidebar h3 .sidebar__rank-img {
  width: 50px;
  border-radius: 100%;
}

.sidebar table {
  text-align: center;
  width: 100%;
}

.sidebar table td,
.sidebar table th {
  padding: 5px;
}

.sidebar .sidebar__rank--achived {
  color: whitesmoke;
}

.sidebar .sidebar__rank--unachived {
  background-color: rgba(0, 0, 0, 0);
  color: whitesmoke;
}

.sidebar .sidebar__rank--achived span::before {
  font-family: 'Font Awesome 5 Free';
  content: "\f058";
  color: gold;
}

.sidebar .sidebar__rank--current-level {
  background-color: gold;
  color: #333;
}

.sidebar .sidebar__rank--current-level span::before {
  color: #333;
}

.sidebar .sidebar__rank--unachived span::before {
  font-family: 'Font Awesome 5 Free';
  content: "\f057";
  color: whitesmoke;
}

.info-section {
  position: absolute;
  right: 0;
  height: 100vh;
  width: 25vw;
  padding: 30px;
  color: white;
  background-color: rgba(51, 51, 51, 0.95);
  z-index: 100;
}

@media only screen and (max-width: 922px) {
  .info-section {
    width: 100vw;
  }
}

.info-section .info-section--bold {
  font-weight: bold;
  margin: 0 5px;
  color: gold;
}

.hidden {
  display: none;
}

.app--on-top {
  z-index: 10;
}

.container {
  height: 80vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media only screen and (min-height: 600px) and (min-width: 1250px) {
  .container {
    height: 100vh;
    padding-bottom: 100px;
  }
}

.container h2,
.container h3 {
  text-align: center;
  margin: 20% auto;
}

.container h2 span,
.container h3 span {
  color: orange;
}

.container .app__timer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: 200px;
  border: 3px solid #333;
  border-radius: 100%;
}

.container .app__timer .app__timer-count {
  font-size: 3rem;
  font-weight: bolder;
}

.container .app__button {
  position: absolute;
  left: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 60%;
  height: 60px;
  font-size: 2rem;
  text-align: center;
  cursor: pointer;
}

.container .unactive {
  pointer-events: none;
  background-color: rgba(51, 51, 51, 0.95);
  color: whitesmoke;
}

.app__btn-start {
  background-color: #ffff9b;
}

.app__btn-start:hover {
  background-color: #e9e98d;
}

.app__btn-go {
  background-color: #d7ff9a;
  z-index: 1;
}

.app__btn-go:hover {
  background-color: #c0e48a;
}

.index-lowered {
  z-index: 1;
}
/*# sourceMappingURL=style.css.map */